body {
    background-image: radial-gradient(circle at top right, #17141d, white);
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  figure {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    width: 75%;
    position: relative
  }
  
  video {
    display: block;
    width: 100%;
    /* transform: rotateY(180deg); */
    /* -webkit-transform: rotateY(180deg); */
    position: relative;
    z-index: 1;
  }
  
  canvas {
    position: absolute ;
    /* position: block; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    /* transform: rotateY(180deg); */
    /* -webkit-transform: rotateY(180deg); */
  }
  
  figcaption {
    align-items: center;
    background: #c7c6c6;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50px auto min(115px);
    padding: 0.5rem;
  }
  
  button {
    border: 0;
    /* background: #e52e71; */
    background: #002a5c;
    display: inline;
    color: white;
    order: 1;
    padding: 0.5rem;
    transition: opacity 0.25s ease-out;
    width: 100%;
  }
  button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  button:disabled{
    /* background: #f79fbf; */
    background: #97b4da;
    cursor: default;
    transition: none;
  }
  
  label {
    order: 2;
    text-align: center;
  }
  
  
  /* Fallback stuff */
  progress[value] {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    color: dodgerblue;
    display: inline;
    height: 15px;
    order: 1;
    position: relative;
    width: 115%;
  }
  
  /* WebKit styles */
  progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  }
  
  progress[value]::-webkit-progress-value {
    /* background-image: linear-gradient(to right, #ff8a00, #e52e71); */
    background-image: linear-gradient(to right, #7ba4d9, #002a5c);
    border-radius: 3px;
    position: relative;
    transition: width 1s linear;
  }
  
  /* Firefox styles */
  progress[value]::-moz-progress-bar {
    /* background-image: -moz-linear-gradient(to right, #ff8a00, #e52e71); */
    background-image: linear-gradient(to right, #7ba4d9, #002a5c);
    border-radius: 3px;
    position: relative;
    transition: width 1s linear;
  }
  
  .controls {
    text-align: center;
    padding: 0.5em 0;
    /* background: #333e5a; */
  }